/* CUSTOM_PROPERTY */
:root{
  --primary-color: #ea625c;
  --text-color: #333;
}

html{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

 *,
 *::before,
 *::after{
  box-sizing: inherit;
  }

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto","Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

img{
  max-width: 100%;
  height: auto;
}
*:focus{
  outline: 2px dashed var(--primary-color);
  outline-offset: 2px;
}

.container{
  width: 100%;
  max-width: 1100px;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: auto;
  margin-left: auto;
}

.main-content{
  flex-grow: 1;
}

/* SITE-HEADER */

.site-header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.site-header-container {
  display: flex;
  align-items: center;
}

.site-header-logo {
  margin-right: auto;
  transition: opacity 0.3s ease;
}
.site-header-logo:hover{
  opacity: 0.8;
}
.site-header-logo:active{
  opacity: 0.6;
}
.site-header-logo-img {
  display: block;
  width: 35px;
  height: 42px;
  object-fit: contain;
}
/* SITENAV */
.sitenav {
  margin-right: 40px;
}
.sitenav-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.sitenav-item:not(:last-child) {
  margin-right: 30px;

}
.sitenav-link {
  display: block;
  padding-top: 6px;
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
  font-size: 15px;
  text-decoration: none;
  color: var(--text-color);
  transition: border-bottom 0.3s ease;
}

.sitenav-link:hover{
  border-bottom: 3px solid #333;


}
/* SEARCH-FORM */
.search-form-input {
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid var(--text-color);
}